<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shop">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Boutique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurants">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes">
      <ion-icon name="square"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="boats">
      <ion-icon name="square"></ion-icon>
      <ion-label>Bateaux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="square"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
