<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Plus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <a rel="noopener noreferrer" href="/more/contact">
        <ion-icon name="mail"></ion-icon>
        <ion-label>Nous contacter</ion-label>
      </a>
    </ion-item>
    <ion-item>
      <a rel="noopener noreferrer" href="/more/about-author">
        <ion-icon name="help-circle-sharp"></ion-icon>
        <ion-label>À props du créateur</ion-label>
      </a>
    </ion-item>
  </ion-list>

</ion-content>
