<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="shop">
      <ion-icon name="cart-sharp"></ion-icon>
      <ion-label>Boutique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="explore">
      <ion-icon name="restaurant-sharp"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-badge *ngIf="cartItemCount > 0" color="danger">{{ cartItemCount }}</ion-badge>
      <ion-icon name="basket-sharp">
      </ion-icon>
      <ion-label>Panier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
